<script>
    $(document).ready(function(){
      setTimeout(function(){$("#flash_message").fadeOut();}, 1000);
      $(document).click(function(){$("#flash_messsage").fadeOut();});
    });
</script>
</body>
</html>