<%- include('partials/header') %>

<div class="container">
    <div style="margin: 20% 40%;">
    <form action="/login" method = "POST">
        <input class="form-group" type="text" name="username" placeholder="User Id" required /><br>
        <input class="form-group" type="password" name="password" placeholder="Password" required /><br>
        <button class="btn btn-primary" type="submit">LOGIN</button>
    </form>
    </div>
</div>



<%- include('partials/footer') %>